/* Design Your Day Styling PseudoCode

whole page base background: warm/cream/off white

header: Design Your Day (in a header section)
    * pretty bold font in black

two div/sections to rest under header
    1. User input: Task, Importance, Urgency, Enjoyment ratings
        a. Text input x 5 (each box with placeholder describing input needed)
        b. a submit button ("Add")

    2. A working to do list
        a. a Title "My list"
        b. an unordered list of task names user has added
        * change bullet to a check box
        c. A rectangle border
    * a black rectangle framing this div/section
    * black font

a new section that contains
    1. a pretty graphic
    2. an h2/h3 text displayed from "Affirmations" API

a new section that contains
    1. A time line for the day
    2. Tasks ordered on the timeline in ranked order to complete
    * Each timeframe should be a new element, perhaps an ordered list of times connected to a task using string interpolation, so that the task and the time are connected

a footer as a spaceholder.



*/

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rufina:wght@700&display=swap');

/* ~~~~~~~~~~~~~~~Whole page flexbox establishing ~~~~~~~~~` */

body {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

}

/* I created section tags for each child element of the body to have a common name (as opposed to div, section etc. But now I'm realizing this excludes header and footer. Instead I could probably just add the body_child class to each subsection. */

/* This pads vertically between elements. Consider adjusting left and right padding as well at some point */
section.body_child {
    padding: 30px 0 50px 0;

}

/* Establishing flexbox notes:
    parent container 1 = #landing_page section (class = two_side_by_side 
    children;
        a. #user_input div (class = half_page) 
        b. #to_do_list div (class = half_page)
*/

/* Define first flex container NOTE: it seems I can only apply this to the sectioons who have this class listed first. See if one class cancels another out and what the rules for that are*/
section.two_side_by_side {
    display: flex;
    /* creates space between child elements (div#user_input and div#to_do_list */
    justify-content:space-between;
    margin-bottom: 35px;
}

@media screen and (max-width: 435px) {
    section.two_side_by_side {
        flex-direction: column;

    }
    body {
        margin: 0px;
    }
    header {
        margin: 5px;
        padding: 0px;
    }
    div#to_do_list.half_page {
        width: 80%;
        align-self: center;
        justify-content: center;
    }
    div#to_do_list {
        align-self: center;
        /* margin-top: 300px; */
        /* margin-left: 20%; */
        width: 100%;
    }
    div#advice.full_page {
        display: flex;
        flex-flow: column wrap;
        /* flex-direction: column;
        justify-content: space-around; */
    }
    input#designMyDayButton {
        /* width: 60%; */
        align-self: left;
        margin-right: 100px;
    }
    div#mood_buttons {
        display: flex;
        flex-direction: column;
    }
    section#schedule.body_child {
        margin-right: 0px;
    }
    section#mood_check {
    margin-top: 50px;
    margin-right: 60px;
    width: 80px;
    }
    div#mood_check_parent {
        display: flex;
        justify-content: center;
    }
    div#list_and_button {
        margin-top: 50px;
        display: flex;
    }

}

div#advice {
    display: flex;
    justify-content:space-between;
    margin: 50px 20px 0 0;
}



ul#myList {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

/* ul#myList li {

} */


/* ~~~~~~~~~~~~~~~ Design~~~~~~~~~~~~~~~~~~~~ */
/* Sample color stories:

.first-color { 
	background: #430d27; 
}
	
.second-color { 
	background: #582233; 
}

.third-color { 
	background: #713045; 
}

.fourth-color { 
	background: #c94e4e; 
} */



body {
    background-color: #713045;

}

div#to_do_list {
    background-color: #e79e85;
    border-radius: 30px;
    width: 80%;
    height: 100%;
    margin-top: 20px;
}

div#to_do_list ul {
    margin-bottom: 30px;
}

/* I'm going to style this section from the DOM when a "make my schedule" button is clicked */
/* section#schedule {
    background-color: #e79e85;
    border-radius: 50px;
    margin-bottom: 40px;
} */

header h1 {
    font-family: 'Rufina', serif;
    font-size: 50px;
    padding: 0px 0 0 0;
    color: #e79e85;
}

h2 {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    padding: 0 0 10px 0;
    color: #e79e85;
}

div#to_do_list h2 {
    color: #713045;
    margin-left: 15px;
}


h3 {
    font-family: 'PT Serif', serif;
    color: #e79e85;
}

ul#myList li {
    border-bottom: 2px solid #713045;

}

li {
    font-family: 'PT Serif', serif;
    color: #bb5a5a
}

section#schedule li {
    color: #713045
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

input {
    font-family: 'PT Serif', serif;
    border: none;
    border-bottom: 2px solid#bb5a5a;
    background-color: #713045;
    padding: 3px;
    outline: none;
    
}

/* This page helped me figure out how to keep the text of the input my desired color while user inputs and after user inputs */
/* https://stackoverflow.com/questions/6669846/css-input-field-text-color-of-inputted-text */
input[type=text], select, textarea {
    color: #e79e85;
}
textarea:focus, input[type=text]:focus {
    color: #e79e85;
}


::placeholder {
    color: #e79e85;
}


input#task {
    width: 60px;
}

input#importance {
    width: 210px;
}

input#urgency {
    width: 200px;
}

input#enjoyment {
    width: 275px;
}
input#timeEst {
    width: 335px;
}

div#two_buttons_one_div {
    display: flex; 
    justify-content: space-between;
}

input#addTaskSubmitButton {
    /* padding: 10px; */
    /* border: none; */
    /* border-radius: 25px;
    background-color: #e79e85; */
    background-color: #e79e85;
    color: #430d27;
    margin-left: 15px;
    margin-top: 30px;
    /* color: #430d27; */
} 
input#addRandomTaskButton {
    /* padding: 10px; */
    /* border: none; */
    /* border-radius: 25px;
    background-color: #e79e85; */
    background-color: #e79e85;
    color: #430d27;
    /* margin-left: 135px; */
    margin-top: 30px;
    /* color: #430d27; */
} 

input#designMyDayButton {
    /* padding: 10px;
    border: none;
    border-radius: 25px; */
    /* background-color: #bb5a5a; */
    margin-left: 135px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
    height: 42px;
    /* color: #430d27; */
} 
div#list_and_button {
    display: flex;
    flex-direction: column;
}

div#mood_buttons {
    display: flex;
    gap: 20px;
    padding-top: 5px;
    /* justify-content: flex-end; */
}

section#mood_check h3 {
    text-align: left;
}
section#mood_check {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 60px;
    background-color: #bb5a5a;
    /* width: 100vw; */
    padding: 20px;
    border-radius: 40px;
    width: 500px;
}

section#schedule.body_child {
    margin-right: 60px;
}

/* section#inspire {
    background-color: #e79e85; 
    width: 100vw;
    
} */

.strike {
    text-decoration: line-through #430d27;
}

h3#advice_placeholder {
    text-align: center;
}

/* .colorA2 {
    color: #f2f9f1;
}
.colorA2Background {
    background-color: #f2f9f1;
}
.colorB2Background {
    background-color: #5c715e;
}
.colorC2Background {
    background-color: #b6cdbd;
} */
input.button {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #e79e85;
    /* margin-left: 135px; */
    /* margin-top: 30px; */
    color: #430d27;
    font-weight: bold;
    font-family: 'PT Serif', serif;

}







