/* Design Your Day Styling PseudoCode

whole page base background: warm/cream/off white

header: Design Your Day (in a header section)
    * pretty bold font in black

two div/sections to rest under header
    1. User input: Task, Importance, Urgency, Enjoyment ratings
        a. Text input x 5 (each box with placeholder describing input needed)
        b. a submit button ("Add")

    2. A working to do list
        a. a Title "My list"
        b. an unordered list of task names user has added
        * change bullet to a check box
        c. A rectangle border
    * a black rectangle framing this div/section
    * black font

a new section that contains
    1. a pretty graphic
    2. an h2/h3 text displayed from "Affirmations" API

a new section that contains
    1. A time line for the day
    2. Tasks ordered on the timeline in ranked order to complete
    * Each timeframe should be a new element, perhaps an ordered list of times connected to a task using string interpolation, so that the task and the time are connected

a footer as a spaceholder.



*/

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rufina:wght@700&display=swap');

/* ~~~~~~~~~~~~~~~Whole page flexbox establishing ~~~~~~~~~` */

body {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

/* I created section tags for each child element of the body to have a common name (as opposed to div, section etc. But now I'm realizing this excludes header and footer. Instead I could probably just add the body_child class to each subsection. */

/* This pads vertically between elements. Consider adjusting left and right padding as well at some point */
section.body_child {
    padding: 50px 0 50px 0;
}

/* Establishing flexbox notes:
    parent container 1 = #landing_page section (class = two_side_by_side 
    children;
        a. #user_input div (class = half_page) 
        b. #to_do_list div (class = half_page)
*/

/* Define first flex container NOTE: it seems I can only apply this to the sectioons who have this class listed first. See if one class cancels another out and what the rules for that are*/
section.two_side_by_side {
    display: flex;
    /* creates space between child elements (div#user_input and div#to_do_list */
    justify-content:space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 320px) {
    section.two_side_by_side {
        flex-direction: column;
    }
    body {
        margin: 0px;
    }
    header {
        margin: 5px;
        padding: 0px;
    }

    div#to_do_list {
        margin-top: 80px;
    }
}

div#advice {
    display: flex;
    justify-content:right;
    margin: 50px 20px 0 0;
}

div#advice h3 {
    align-self: center;
}

ul#myList {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

/* ul#myList li {

} */


/* ~~~~~~~~~~~~~~~ Design~~~~~~~~~~~~~~~~~~~~ */
/* Sample color stories:

.first-color { 
	background: #430d27; 
}
	
.second-color { 
	background: #582233; 
}

.third-color { 
	background: #713045; 
}

.fourth-color { 
	background: #c94e4e; 
} */



body {
    background-color: #713045;

}

div#to_do_list {
    background-color: #e79e85;
    border-radius: 30px;
    width: 210px;
    height: 100%;
    margin-right: 70px;
}

div#to_do_list ul {
    margin-bottom: 30px;
}

section#schedule {
    background-color: #e79e85;
    border-radius: 50px;
}

header h1 {
    font-family: 'Rufina', serif;
    font-size: 50px;
    padding: 70px 0 0 0;
    color: #e79e85;
}

h2 {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    padding: 0 0 10px 0;
    color: #e79e85;
}

div#to_do_list h2 {
    color: #713045;
    margin-left: 15px;
}


h3 {
    font-family: 'PT Serif', serif;
    color: #e79e85;
}

ul#myList li {
    border-bottom: 2px solid #713045;

}

li {
    font-family: 'PT Serif', serif;
    color: #bb5a5a
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

input {
    font-family: 'PT Serif', serif;
    border: none;
    border-bottom: 2px solid#bb5a5a;
    background-color: #713045;
    padding: 3px;
    
}


::placeholder {
    color: #e79e85;
}


input#task {
    width: 60px;
}

input#importance {
    width: 210px;
}

input#urgency {
    width: 200px;
}

input#enjoyment {
    width: 250px;
}

input#addTaskSubmitButton {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #e79e85;
    margin-left: 135px;
    margin-top: 15px;
    color: #430d27;
}

section#inspire {
    /* background-color: #e79e85; */
    width: 100vw;
    
}







